.mainContainer {
  /* height: 100%; */
  background-color: ;
  font-weight: 400;
}

.streetSection {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Set a minimum width of 250px and allow the columns to automatically adjust */
  gap: 10px; /* Add a gap between grid items */
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #323e42;
}

.streetList {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* max-width: 220px; */
  height: 200px;
  gapa: 10px;

  /* align-items: center; */
  /* grid-gap: 20px; */
  /* margin: 0 auto; */
  /* width: 100%; */
  /* max-width: 1000px; */
  background: #323e42;
  padding: 20px;
  border: 1px solid white;
}
.streetName {
  color: white;
}

.streetInfo {
  font-size: 0.65rem;
}
.streetInfo h1,
.streetInfo h2 {
  font-size: 0.95rem;
}
.streetInfo h1 span,
.streetInfo h2 span {
  color: #ededed;
  font-weight: 700;
}

.streetLink {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.streetEntry {
  color: gray;
}
